# Environment variables
.env

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# Javascript
node_modules/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db